* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
}
.casualShoes{
    padding: 40px 80px;
}
.casualShoes h1{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #363958;
    margin-bottom: 30px;
}
.casualShoesContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.casualShoes .casualShoesCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 350px;
  background-color: #ffffff;
  padding: 20px 15px;
  border-radius: 12px;
}

.casualShoes .casualShoesCard .image {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 12px;
  height: 350px;
}
.casualShoes .casualShoesCard img {
  width: 300px;
}
.casualShoes .casualShoesCard .cardText {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 0 15px;
}
.casualShoes .casualShoesCard h2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #363958;
}
.casualShoes .casualShoesCard p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #191818;
}
.casualShoes .casualShoesCard .price {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.casualShoes .casualShoesCard span {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #fa804c;
  font-weight: bold;
}
#counter{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color:#F1F1F1;
    border: 1px solid #191818;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 60px;
    
}
#counter span{
    border: 1px solid #191818;
    background-color:transparent;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#counter #reset{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fa804c;
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 50px;
}
button{
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover{
    background-color:transparent;
}
